
recursive-include src/_simple_build_system/data/cmake *.cmake *.txt *.py
recursive-include src/_simple_build_system/data/pkgs-core LICENSE pkg.info *.cc *.hh *.icc *.c *.h *.f *.py
recursive-include src/_simple_build_system/data/pkgs-core/**/data *
recursive-include src/_simple_build_system/data/pkgs-core/**/scripts *
recursive-include src/_simple_build_system/data/pkgs-core_val LICENSE pkg.info *.cc *.hh *.icc *.c *.h *.f *.py
recursive-include src/_simple_build_system/data/pkgs-core_val/**/data *
recursive-include src/_simple_build_system/data/pkgs-core_val/**/scripts *
recursive-include src simplebuild.cfg
include src/_simple_build_system/data/cfgtemplate.txt
include src/_simple_build_system/data/resources/shellrc_snippet.sh
include src/_simple_build_system/data/resources/shellrc_snippet_deactivate.sh

global-exclude *~* *\#* .*
global-exclude *.pyc *.pyo */__pycache__/* */.ruff_cache/*
global-exclude *.gch *.exe *.so *.dylib *.o *.a
global-exclude vgcore.* .DS_Store .vscode *.reflogupdate*.orig
