name: basictest
on:
  push:
  pull_request:

# Workflow which pip installs the source code and checks that both bundles build
# and runs tests in both release and debug mode.

jobs:
  build:
    strategy:
      matrix:
        include:
          - { os: ubuntu-20.04,  CC: gcc-10,   CXX: g++-10,     python: '3.8'  }
          - { os: ubuntu-22.04,  CC: gcc,      CXX: g++,        python: '3.9'  }
          - { os: ubuntu-latest, CC: gcc,      CXX: g++,        python: '3.10' }
          - { os: ubuntu-latest, CC: clang,    CXX: clang++,    python: '3.11' }
          - { os: ubuntu-latest, CC: gcc-12,   CXX: g++-12,     python: '3.11' }
          #- { os: macos-11,      CC: clang,    CXX: clang++,    python: "3.10" }
          - { os: macos-12,      CC: clang,    CXX: clang++,    python: "3.11" }
          - { os: macos-13,      CC: clang,    CXX: clang++,    python: "3.12" }
          - { os: macos-latest,      CC: clang,    CXX: clang++,    python: "3.12" }

    name: ${{ matrix.os }}.${{ matrix.CC }}.python-${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -eux {0}
    env:
      CC: ${{ matrix.CC }}
      CXX: ${{ matrix.CXX }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: src

    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}

    - name: Pip install cmake and pybind11
      run: |
           python3 -m pip install pybind11
           python3 -m pip install cmake
           which python3
           python3 --version
           python3 -mpybind11 --version
           which cmake
           cmake --version

    - name: Lint python
      run: |
           python3 -m pip install ruff
           ./src/devel/ruff.x

    - name: Install package
      run: |
           python3 -m pip install ./src
           echo "sb --version:"
           sb --version

    - name: Build-and-test-release-mode
      run: |
           mkdir myproj
           cd myproj
           sb --init core_val
           sb -t --testexcerpts=100 --requirepkg CoreTests
           sbenv sb_core_extdeps --require-disabled NCrystal Numpy matplotlib Geant4 ZLib
           sb -t --testfilter='sb_coretests_testpycpp' --requirepkg CoreTests

    - name: Build-and-test-debug-mode
      run: |
           mkdir myprojdebug
           cd myprojdebug
           sb --init core_val DEBUG COMPACT
           sb -t --testexcerpts=100 --requirepkg CoreTests
           sbenv sb_core_extdeps --require-disabled NCrystal Numpy matplotlib Geant4 ZLib
           #Also verify that eval "$(sb --env-setup)" works:
           eval "$(sb --env-setup)"
           python3 -c 'import _simple_build_system.envsetup as sbe; sbe.verify_env_already_setup()'

    - name: Build-and-test-reldbg-mode
      run: |
           mkdir myprojreldbg
           cd myprojreldbg
           sb --init core_val RELDBG COMPACT
           sb -t --testexcerpts=100 --requirepkg CoreTests
           sbenv sb_core_extdeps --require-disabled NCrystal Numpy matplotlib Geant4 ZLib
           #Also verify that eval "$(sb --env-setup)" works:
           eval "$(sb --env-setup)"
           python3 -c 'import _simple_build_system.envsetup as sbe; sbe.verify_env_already_setup()'

    - name: Verify-ncrystal-linkage
      run: |
           #This will fail with gcc if ncrystal wheel is not available in recent
           #wheel (with gcc5 support or later). Due to std::string cxx11 abi issues.
           cd myproj
           python3 -m pip install ncrystal
           sb -t --testexcerpts=100 --requirepkg 'CoreTests,CoreLinkTests'

    - name: Test pkgfilter
      run: |
           mkdir myproj_pkgfilter
           cd myproj_pkgfilter
           sb --init core_val CACHEDIR::"$PWD"/../somecachedir PKGFILTER::'Core*' PKGFILTER::'!CoreLink*'
           sb -t --testexcerpts=100 --requirepkg 'Core,CoreTests'
           test -d "$PWD"/../somecachedir
           sb --requirepkg CoreLinkTests && (echo badpkgfilter; false) || true
           which sb_corelinktests_test && false || true

    - name: Other tests
      run: |
           mkdir othertests
           cd othertests
           set +x
           ../src/devel/tests/test_sbswitch.x

#UNCOMMENT TO ENABLE:    - name: Setup tmate session for manual debugging
#UNCOMMENT TO ENABLE:      uses: mxschmitt/action-tmate@v3
#UNCOMMENT TO ENABLE:      if: always()
#UNCOMMENT TO ENABLE:      with:
#UNCOMMENT TO ENABLE:        limit-access-to-actor: true
